.MovieDetailInfoRight {
	text-align: left;

	padding-bottom: 5rem;
	padding-left: 2rem;

	.social-icons {
		font-size: 2rem;
		margin: 1rem 0;

		a {
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			color: black;
		}

		#facebook {
			color: #1777f2;
		}

		#twitter {
			color: #38a1f3;
		}

		#instagram {
			color: #dd2a7b;
		}

		svg:hover {
			color: gray;
		}
	}

	.social-icons > * {
		margin: 0 0.2rem;
	}

	.right-info-item {
		margin-top: 1.5rem;
		h5 {
			font-weight: bold;
			color: rgb(29, 15, 15);
		}

		h6 {
			color: rgb(5, 3, 3);
		}

		.network-title {
			padding-bottom: 10px;
		}
	}

	.button-holder {
		padding-left: 0;

		.custom-button {
			padding: 4px 10px;
			font-size: 0.9rem;
			margin-right: 0.5rem;
			margin-top: 0.5rem;
			border: 1px solid rgb(158, 158, 0);
			border-radius: 4px;
		}
	}
}
