.people-detail-right-header {
  .people-detail-right-header-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .people-detail-right-header-biography {
    width: 80%;
    .people-detail-right-biography-text {
      font-size: 1.5rem;

      font-weight: bold;
    }
  }

  .people-detail-right-header-modal-button {
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
    width: 80%;

    button {
      color: green;
      -webkit-box-shadow: 10px 10px 15px -11px rgba(102, 217, 102, 0.78);
      -moz-box-shadow: 10px 10px 15px -11px rgba(102, 217, 102, 0.78);
      box-shadow: 10px 10px 15px -11px rgba(102, 217, 102, 0.78);
    }
  }
}

@media (max-width: 970px) {
  .people-detail-right-header {
    text-align: center;

    .people-detail-right-header-biography {
      margin: 0 auto;
    }
  }
}
