.Movie-navigation {
	color: white;
	height: 5rem;
	display: flex;

	font-family: "Source Sans Pro", sans-serif;
	flex-wrap: none;
	font-size: 1.2rem;
	padding-top: 1rem;
}

.dropdown-container {
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease-in-out;
	margin-top: 1rem;
}

.dropdown-hidden-container {
	display: none;
	position: absolute;
	font-size: 0.8rem;
	font-weight: normal;
	color: lightgray;
}

.dropdown-hidden-item {
	width: max-content;
	margin-left: 1rem;
	color: lightgray;
}

.dropdown-container:hover {
	color: #d1d1d1;
}

.dropdown-container:hover .dropdown-hidden-container {
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 1fr;
}

.dropdown-hidden-item:first-child {
	margin-left: 0;
}

.dropdown-hidden-item:hover {
	color: white;
}

.nav-button {
	color: rgb(255, 255, 255);
	margin-left: 5rem;
}

.nav-button:hover {
	color: #d3cece;
}

@media (max-width: 1200px) {
	.Movie-navigation {
		display: flex;

		.nav-button {
			text-align: center;
			margin-left: 2rem;
		}
	}
}

@media (max-width: 700px) {
	.Movie-navigation {
		display: none;
	}
}
