.Card {
  margin: 0 0.3rem;

  .movieCard {
    height: 100%;
    cursor: pointer;
    background-color: rgb(17, 83, 17);
    display: flex;
    flex-direction: column;
    color: rgb(6, 61, 4);
    line-height: 1rem;
    padding: 2px;
  }

  .card-title {
    color: rgb(205, 252, 217);
    text-align: center;
    padding-top: 0.5rem;
  }
}

.card {
  border: 0 !important;
}
