.known-for-credits-card {
  margin-right: 10px;
  width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(170, 227, 177, 1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(170, 227, 177, 1);
  box-shadow: 10px 10px 5px -6px rgba(170, 227, 177, 1);

  img {
    border-radius: 5px;
  }

  .known-for-credits-image {
    font-size: 3rem;
    background-color: rgb(180, 178, 178);
    width: 150px;
    height: 225px;
    text-align: center;
    padding-top: 90px;
    overflow: hidden;
  }

  .known-for-credit-title {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}
