.known-for-credits {
  .known-for-credits-image {
    font-size: 3rem;
    background-color: rgb(180, 178, 178);
    width: 150px;
    height: 225px;
    text-align: center;
    padding-top: 90px;
  }
}
