.Movie-detail-info {
    height: 100vh;
    background-color: red;
    display:flex;   
}

.movie-detail-info-left {
    background-color: white;
    width: 75%;
    
}

.movie-detail-info-right {
    background-color: #F1F1F1;
    width: 25%
}