.Movie-detail-info {
    display:flex;   
    padding-bottom: 5rem;
    
}

.movie-detail-info-left {
    background-color: white;
    width: 75%;
    
}

.movie-detail-info-right {
    background-color: #F1F1F1;
    width: 25%;
    

  
    
}