.Movie-detail-info {
    height: 100vh;
    background-color: red;
    display:flex;   
}

.movie-detail-info-left {
    background-color: blue;
}

.movie-detail-info-right {
    background-color: pink;
}