.movieDetailInfoLeft {
  .section-title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .top-billed-cast {
    margin: 0 auto;
  }

  .actor-card-container {
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 138px);
    grid-gap: 5px;
    margin-bottom: 2rem;
    justify-items: center;
    margin: 0 auto;
    grid-gap: 10px;
  }

  .full-cast-link {
    font-size: 1.5rem;
    color: #1b8a6b;
    margin: 0 2rem;
    text-align: center;
    transition: color 0.5s;
  }

  .full-cast-link:hover {
    cursor: pointer;
    color: #034734;
  }

  .media-container {
  }
}
