.Movie-category-detail-card {

    width: 483px;
    display: flex;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 8px 0px;
    margin: 1rem;

    
    .category-detail-card-image {
        
    }

    .category-detail-card-content {

        width: 298px;
        height: 278px;
        box-sizing: border-box;
        padding: 16px;




        .category-detail-card-header {
            font-weight: bold;


            .category-detail-card-title {

            }

            .category-detail-card-release-date {

            }
        }



        .category-detail-card-stroy {

        }


        .category-detail-card-header {


        }
    }
}

