.Movie-recommend {
  background-color: #d6f8df;
  width: 100%;

  .Movie-recommend-title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-top: 2rem;
  }

  .carousel-container {
    background-color: #d6f8df;
    text-align: center;
    padding-bottom: 4rem;

    .react-multi-carousel-dot-list {
      bottom: 27px;
    }

    .react-multiple-carousel__arrow {
      background: red;
    }

    .react-multiple-carousel__arrow:hover {
      background: pink;
    }

    .react-multi-carousel-dot {
    }
  }

  .carousel-items {
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
  }

  .movie-detail-carousel-card {
    cursor: pointer;
    width: 186px;
  }
}
