.Movie-category-detail-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  background-color: rgb(247, 255, 249);

  .category-detail-paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.movie-category-detail-title {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 3rem;
  color: rgb(9, 116, 9);
}

.Movie-category-detail-page-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .movie-category-detail-title {
    text-align: center;
  }
}

@media (max-width: 826px) {
  .movie-category-detail-title {
    margin-top: 7rem;
  }
}
