.Video-Title {
  margin: 2.5rem 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.People-Detail-Filmography-Table {
  width: 500px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  -webkit-box-shadow: 16px 22px 17px -17px rgba(19, 107, 10, 1);
  -moz-box-shadow: 16px 22px 17px -17px rgba(19, 107, 10, 1);
  box-shadow: 16px 22px 17px -17px rgba(19, 107, 10, 1);

  caption {
    padding-top: 5rem;
  }
  thead {
    background-color: rgb(35, 71, 35);
  }

  th,
  td {
    padding: 10px 20px;
  }

  th {
    color: white;
  }

  td {
    border-bottom: 1px solid rgb(9, 59, 9);

    .title {
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.1s ease-in-out;
      color: rgb(63, 97, 78);
    }

    .title:hover {
      color: lightslategrey;
    }
    .as {
      color: lightslategrey;
      font-size: 0.9rem;
      padding: 0 0.5rem;
    }
  }
}
