.People-Detail-Filmography-Table {
  width: 80%;
  border: 1px solid lightgray;
  border-collapse: collapse;
  -webkit-box-shadow: 11px 12px 21px -5px rgba(106, 224, 38, 0.49);
  -moz-box-shadow: 11px 12px 21px -5px rgba(106, 224, 38, 0.49);
  box-shadow: 11px 12px 21px -5px rgba(106, 224, 38, 0.49);

  caption {
    padding-top: 5rem;
  }
  thead {
    background-color: lightgreen;
  }

  th,
  td {
    padding: 10px 20px;
  }

  td {
    border-bottom: 1px solid lightgreen;

    .title {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .as {
      color: lightslategrey;
      font-size: 0.9rem;
      padding: 0 0.5rem;
    }
  }
}
