.category-title {
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	margin: 2rem 0 3rem 0;
	background-color: rgb(3, 37, 65);
	width: 300px;
	padding: 5px 20px;
	border-radius: 20px;

	span {
		background: linear-gradient(
			to right,
			rgba(192, 254, 207, 1) 0%,
			rgba(30, 213, 169, 1) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.category-card-deck {
	margin: 1rem 1rem;
	.moive-category {
		display: grid;
		margin: auto;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 0.5rem;
	}
}
