.category-title {
	font-family: "Aldrich", sans-serif;
	margin: 5rem 0 3rem 0;
	color: black;
	text-align: center;
	text-transform: uppercase;

	h5 {
		letter-spacing: 4px;
		color: lightgray;
	}

	h4 {
		padding-bottom: 1rem;
	}

	h2 {
		letter-spacing: 2px;
	}
}

.category-card-deck {
	margin: 0rem 1rem 6rem 1rem;
	.moive-category {
		display: grid;
		margin: auto;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 0.5rem;
	}
}
