.category-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem 0;
  color: rgb(10, 80, 10);
}

.category-card-deck {
  .moive-category {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 0.5rem;
  }
}
