.search-form-container {
	padding-top: 4rem;
	z-index: 9909;
	width: 100%;
	top: 0px;
	transition: top 1s;

	&.hidden {
		transform: translateY(-50px);
	}
	// form
	.search-form {
		width: 100%;

		appearance: none;
		//whole container for suggestions
		.react-autosuggest__container {
			//input

			#search {
				padding-left: 2.3rem;
				font-size: 1.2rem;
			}
			.react-autosuggest__input {
				background-color: white;
				margin: 1rem 0 0 0;
				border-radius: 5px;

				border-color: rgb(199, 199, 199);
				border-style: solid;
				outline: none;
			}

			//accordian
			.react-autosuggest__suggestions-container {
				//ul
				.react-autosuggest__suggestions-list {
					//li
					padding-left: 0 !important;

					.react-autosuggest__suggestion {
						.suggestion-row {
							font-size: 1.1rem;
							padding-left: 1.5rem;

							.suggestion-title-text {
								padding-left: 1rem;
							}
							.suggestion-title-year-or-department {
								padding-left: 0.5rem;
								color: gray;
							}
						}
					}
				}
			}

			.react-autosuggest__suggestion:nth-child(odd) {
				background-color: rgb(255, 251, 251);
			}

			.react-autosuggest__suggestion:nth-child(even) {
				background-color: rgb(255, 255, 255);
			}
		}
	}
}

#search {
	width: 100%;
	height: 50px;
	box-shadow: none;
	font-size: 16px;
	padding-left: 0.3rem;
	outline: none;
}

#search-icon {
	width: 65px;
	border: 1px solid #d3d3d3;
	background-color: #f8f8f8;
	margin: 0;
	border-left: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;

	.react-autosuggest__suggestions-list {
		padding: 0;
	}
	.suggestion-row {
		border-bottom: 1px solid rgb(216, 214, 214);
	}
}
.react-autosuggest__suggestion--highlighted {
	background-color: rgb(124, 192, 124) !important;
}
